body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





.body{background:rgba(245, 245, 245, 0.889)}
@media (min-width:1200px){.container{max-width:1280px;}}
.top{font-size:14px;}
.m{position: relative; left:-20px; border-radius:0 5px 5px 0;}
.my{background:#4570B6 !important;}
.navbar-expand-lg .navbar-nav .nav-link {color:white;}
.container ul .blue{color:rgb(22, 109, 209);}
.container ul img{width: 20px; margin-right: 15px;}
.container ul .dropdown-item{ color:black;}
.red{color:red;}
.swiper-wrapper img{width:100px;}


.carousel-inner img{width:1280px;}
.wh{width:1280px; height:500px; position: relative; left:-13px;}
.wh1{width:630px;position: relative; left:-13px;}
.wh2{width:630px;position: relative;}
.navbar ul .nav-items{gap:20px;}
.im2{width:50px;}

.box-c{bottom:-56px; transition:0.5s; background: #fff;}
.box-c:hover{transform: translateY(-55px);}
.box-d{bottom:-72px; transition:0.5s; background: #fff;}
.box-d:hover{transform: translateY(-55px);}

.hv{transition: transform 0.2s ease-in-out;}
.hv:hover{transform:scale(1.1);}
.py-5 .pl{padding-left:110px; color:rgb(255, 106, 0);}
.orange{color:rgb(255, 106, 0);}
.grey{background:rgb(237, 242, 242)}

.bg1{background:#364376;}
.logo{ height:60px; width:220px;}

.pad-y{padding-top: 50px; padding-bottom: 80px;}

footer ul li .img1{width:250px;}
footer ul li .img2{width:150px;}
.bn{padding-left: 92px; padding-bottom:20px;}
footer .space li{line-height: 30px;}
.n{position: relative; left:-20px; border-radius:0 5px 5px 0;}
footer ul .pb{padding-bottom: 97px;}

.btn-color{
    border:2px solid #d0dae9;
    font-weight:500;
    color: rgb(82, 78, 78);
    padding:8px 10px;
    border-radius: 30px;}

.hove:hover{
  color: #5287dc;
  transform: scale(1.1);
  transition: 0.1s;
}
    
.custom-input{border:2px solid #c7cbd0 !important;}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(224, 84, 33); /* Change arrow color to orange */
    background-size: 100%; /* Ensure proper icon size */
    border-radius: 50%; /* Optional: Add a rounded look */
}

.sm{
    background:white;
    padding:2px 8px;
    font-size:21px;
    border-radius:20px;
}

.fb{color:blue;}
.ln{color:rgb(9,9,67);}
.ig{color:rgb(246,46,46);}
.gp{gap:20px;} .gp2{gap:40px;}
.gp1{margin-top: 50px;}
.wd{width:230px !important; height:275px;}
.wd1{width:225px !important; height:275px;}
.banner{height:600px;}
.pn{display:flex;align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding:9px 10px;}

.content{margin:auto;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */   /* Align text */
  font-family: Arial, sans-serif;
  max-width: 1000px;
  }
  
  .modal-title{
   margin:auto;
   padding-left: 80px;
  }
  .modal-content{
    max-width:400px !important;
    padding:10px 15px;
    margin-left:60px;
  }

  .btn-sec{
    padding:8px 145px;
    border:2px solid;
    color: rgb(255, 255, 255);
    background-color:rgb(22, 108, 206);
    border-radius:8px;
  }

  footer .span{
    display:flex;
  }

  .hov{
    cursor:pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
    
  }
  .hov:hover {
    color:rgb(15, 89, 174);
  }










  .navbar {
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  
  .items-container {
    display: grid;
    width: 1250px;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 30px;
    margin: 40px auto;
    padding: 5px 10px;
    }
  
  .item-card {
    border: 1px solid #c5b9b9;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    transition: transform 0.2s;
    background-color: #f9f9f9;
  }

  .item-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }

  .item-image {
    width: 250px;
    height: 250px;
    border-radius: 8px;
  }
  
  .items-description {
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .item-price {
    color: rgb(9, 83, 231);
    font-weight: bold;
  }
  
  .item-rating {
    color: #e9660f;
  }

/*for single item*/
  .item-details {
    display:flex;
    margin:auto;
    gap:50px;
    background-color: #e7f0ff;
    margin-bottom: 200px;
    justify-content:center;
    text-align: center;
    padding: 30px;
  }

  .item-details-card {
    border: 1px solid #d1c3c3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
    margin-right: 100px;
    max-width: 600px !important; /* Fixed size for the card */
    width: 100%; /* Responsive width */
    background-color: #ffffff; /* White background */
    text-align: center;
  }

  .item-details-image {
    max-width: 460px;
    padding:40px;
    margin: auto;
    border-radius: 10px;
  }

  .item-details-image:hover{
    transform: scale(1.12);
    transition: 0.3s ease-in;
  }
  

  .lbtn {
    padding: 10px 18px;
    border:none;
    margin-left:-50px;
    border-radius: 50px;
    background-color: #abc6ef;
    color: black;
    cursor: pointer;
  }

  .lbtn:hover {
    background-color: #90c4fb;
  }

  .cnt{
    align-items: center;
    justify-content: center;
  }

  .btn5{
    border:none;
    background-color: white;
    font-size: 25px;
  }